<form class="{{cssClass}}" autocomplete="off" onsubmit="event.preventDefault();">

    <h1>{{localize 'VINO.ACTORCONFIG.CoreSettings'}}</h1>
    <h2>{{localize 'VINO.ACTORCONFIG.VinoEnabled'}}</h2>
    <h4><input type="checkbox" name="flags.vino.enabled" data-dtype="Boolean" {{checked actor.flags.vino.enabled}}/></h4>

    <h2>{{localize 'VINO.ACTORCONFIG.PreferredSide'}}</h2>
    <select name="flags.vino.preferredSide" type="text">
        {{#select actor.flags.vino.preferredSide}}
        <option value="">Any</option>
        <option value="left">Left</option>
        <option value="right">Right</option>
        {{/select}}
    </select>

    <div class="vino-actor-configuration-row">
        <div class="vino-actor-configuration-row-item" >
            <h2>{{localize 'VINO.ACTORCONFIG.ActorPortrait'}}</h2>
            <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}} default" height="220" width="220" data-edit="img" />
        </div>
        <div class="vino-actor-configuration-row-item" >
            <h2>{{localize 'VINO.ACTORCONFIG.AlternateDefault'}}</h2>
            <img class="sheet-profile" src="{{actor.flags.vino.altdefault}}" title="{{actor.name}} alt default" height="220" width="220" data-edit="flags.vino.altdefault" />
        </div>
    </div>

    <h1>{{localize 'VINO.ACTORCONFIG.Moods'}}</h1>
    <div class="vino-actor-configuration-row">
    {{#each @root.emotes as | emote i|}}
        {{#if (isdefined emote.name)}}
            <div class="vino-actor-configuration-row-item emote">
                <h3>
                    <img src="{{emote.imageRef}}" alt=""> 
                    <span>{{emote.label}}</span>
                </h3>
                <input name="flags.vino.emotes.{{emote.key}}.name" type="hidden" value="{{emote.name}}" style="width: inherit;" disabled />
                <input name="flags.vino.emotes.{{emote.key}}.label" type="hidden" value="{{emote.label}}" style="width: inherit;" disabled />
                <select data-key="{{emote.key}}" name="flags.vino.emotes.{{emote.key}}.font" type="text">
                    <option value="">None</option>
                    {{#each @root.fonts as | font i | }}
                        <option value="{{font}}" {{#vino-ifEquals ../emote.font font}} selected {{/vino-ifEquals}} >{{font}}</option>
                    {{/each}}
                </select>
                <img class="sheet-profile" src="{{emote.image}}" title="{{actor.name}} {{emote.name}}"  style="width: inherit;" data-edit="flags.vino.emotes.{{emote.key}}.image" />
            </div>
        {{/if}}
    {{/each}}
    </div>

    <button type="submit" name="submit" class="btn btn-primary vino-configure-submit">Save</button>
</form>
