<form class="{{cssClass}}" autocomplete="off" onsubmit="event.preventDefault();">

    <h2>Actor Font</h2>
    <h4><input name="data.attributes.font" type="text" value="{{actor.data.data.attributes.font}}" placeholder="Signika, sans-serif;"/></h4>

    <h2>Actor Portrait</h2>
    <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}} default" height="220" width="220" data-edit="img" />

    <h2>Alternate Default</h2>
    <img class="sheet-profile" src="{{actor.data.data.attributes.altdefault}}" title="{{actor.name}} alt default" height="220" width="220" data-edit="data.attributes.altdefault" />

    <h2>Mad</h2>
    <img class="sheet-profile" src="{{actor.data.data.attributes.madimg}}" title="{{actor.name}} mad" height="220" width="220" data-edit="data.attributes.madimg" />

    <h2>Sad</h2>
    <img class="sheet-profile" src="{{actor.data.data.attributes.sadimg}}" title="{{actor.name}} sad" height="220" width="220" data-edit="data.attributes.sadimg" />

    <h2>Joy</h2>
    <img class="sheet-profile" src="{{actor.data.data.attributes.joyimg}}" title="{{actor.name}} joy" height="220" width="220" data-edit="data.attributes.joyimg" />

    <h2>Fear</h2>
    <img class="sheet-profile" src="{{actor.data.data.attributes.fearimg}}" title="{{actor.name}} fear" height="220" width="220" data-edit="data.attributes.fearimg" />

    <button type="submit" name="submit" class="btn btn-primary vino-configure-submit">Save</button>
</form>
