<form class="{{cssClass}}" autocomplete="off">

    <h2>Actor Portrait</h2>
    <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}} default" height="220" width="220" data-edit="img" />

    <h2>Alternate Default</h2>
    <img class="sheet-profile" src="{{data.attributes.altdefault}}" title="{{actor.name}} alt default" height="220" width="220" data-edit="data.attributes.altdefault" />

    <h2>Mad</h2>
    <img class="sheet-profile" src="{{data.attributes.madimg}}" title="{{actor.name}} mad" height="220" width="220" data-edit="data.attributes.madimg" />

    <h2>Sad</h2>
    <img class="sheet-profile" src="{{data.attributes.sadimg}}" title="{{actor.name}} sad" height="220" width="220" data-edit="data.attributes.sadimg" />

    <h2>Joy</h2>
    <img class="sheet-profile" src="{{data.attributes.joyimg}}" title="{{actor.name}} joy" height="220" width="220" data-edit="data.attributes.joyimg" />

    <h2>Fear</h2>
    <img class="sheet-profile" src="{{data.attributes.fearimg}}" title="{{actor.name}} fear" height="220" width="220" data-edit="data.attributes.fearimg" />
</form>
