<div id="vino-overlay" class="">
  <div id="vino-chat-lane">
    <div id="{{element.id}}" class="vino-chat-frame">
      <img src="/modules/vino/testpics/01.png" class="vino-chat-actor-portrait" />
      <div class="vino-chat-flexy-boi">
        <div class="vino-chat-actor-name">Gawthe Hoboots</div>
        <div class="vino-chat-emotion-flare">Arrogant</div>
      </div>
      <div class="vino-chat-text-body">
          <p>"Because people are ugly and people are hateful-destructive and greedy we're proud and ungrateful the world would be so much better off without us. So swallow a bullet Or a handful of pills-we're all compost in training there's graves left to fill. Let's distract ourselves to make us feel like we're not just mistakes."</p>
      </div>
    </div>
    <div id="{{element.id}}" class="vino-chat-frame">
      <img src="/modules/vino/testpics/02.png" class="vino-chat-actor-portrait" />
      <div class="vino-chat-flexy-boi">
        <div class="vino-chat-actor-name">Mayde Le G'sarelong</div>
        <div class="vino-chat-emotion-flare">Sick (of your shit)</div>
      </div>
      <div class="vino-chat-text-body">
        <p>"See, I can't get too much of a good thing, S'why I'm all dressed up in the finest things. Well, please hold your tongue, oh, don't say a damn thing. See your iPhone camera flashin'-Please step back, it's my style you're crampin'-"You here for long?" Oh no, I'm just passin'- "Do you wanna drink?" No, thanks for askin'- oo na-nah-hey, don't act like you know me- like you know me."</p>
    </div>
    </div>
    <div id="{{element.id}}" class="vino-chat-frame">
      <img src="/modules/vino/testpics/03.png" class="vino-chat-actor-portrait" />
      <div class="vino-chat-flexy-boi">
        <div class="vino-chat-actor-name">Pafu Shor Tuskirto Des</div>
        <div class="vino-chat-emotion-flare">Smarmy</div>
      </div>
      <div class="vino-chat-text-body">
        <p>"Elm, she hates mankind and waits, til every gust be laid, to drop a limb on the head of him that anyway trusts her shade, but whether a lad be sober or sad, or mellow with ale from the horn, he'll take no wrong when he lyeth along 'neath Oak, and Ash, and Thorn</p>
    </div>
    </div>
    <div id="{{element.id}}" class="vino-chat-frame">
      <img src="/modules/vino/testpics/04.png" class="vino-chat-actor-portrait" />
      <div class="vino-chat-flexy-boi">
        <div class="vino-chat-actor-name">Totally Not Keanu</div>
        <div class="vino-chat-emotion-flare">Angry</div>
      </div>

        <div class="vino-chat-text-body">
            <p>"I say, fuck these Alt-Right pricks! who the fuck do they think they are?
                 We can't claim this is our land when we ourselves are immigrants"</p>
        </div>
  
    </div>
    
    <div id="{{element.id}}" class="vino-chat-frame">
      <img src="/modules/vino/testpics/05.png" class="vino-chat-actor-portrait" />
      <div class="vino-chat-flexy-boi">
        <div class="vino-chat-actor-name">Wyisit Alwa Yscatgirls</div>
        <div class="vino-chat-emotion-flare">Disinterested</div>
      </div>
      <div class="vino-chat-text-body">
        <p>"Well, you're in your little room and you're working on something good- but if it's really good: you're gonna need a bigger room. And when you're in the bigger room, you might not know what to do. You might have to think of How you got started sitting in your little room."</p>
    </div>
    </div>
  </div>
</div>
